@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~gel-typography/typography';
@import '~theme';

.qr-code {
  text-align: center;
  min-height: 136px;

  img, canvas {
    width: 128px;
    height: 128px;
    border: 4px solid #fff;
    margin: 0 auto;
    display: block; // because qr code library sets this on the img tag
    background: #fff;
  }
}
