/*
  Player images:

  Create a .player-image-* class here for every objectImage defined in your sequence metadata.

  The system selects the primary object by finding the first (in sequence.json) object assigned
  to the current device that has an image property. This determines the image shown on that device.

  For example, the default sequence used in this template has image values of 'noise', 'tone', and
  'click'. The DEFAULT_IMAGE specified in src/config.js is 'default', and this is used if no object
  assigned to the device has the image property set.
 */
.player-image-default { background-image: url('./images/default.png'); }
.player-image-noise   { background-image: url('./images/noise-512.png'); }
.player-image-tone    { background-image: url('./images/tone-512.png'); }
.player-image-click   { background-image: url('./images/click-512.png'); }
