$gel-grid-enable--markup-output: true;
$gel-grid-enable--box-sizing: true;

@import 'node_modules/gel-sass-tools/sass-tools';
@import 'node_modules/sass-mq/mq';
@import 'node_modules/gel-grid/grid';
@import 'node_modules/gel-typography/typography';

@import './colours.scss';

body {
  background-color: $bg;
  color: $fg;
  font-family: BBC-Reith-Sans, Helvetica, Arial, sans-serif;
}

#app {
  position: relative;
}

.page, .footer {
  @include gel-wrap;
}

p {
  @include gel-typography('body-copy');
  margin: $gel-spacing-unit 0;
}

.footer {
  p {
    @include gel-typography('pica');
  }
}

h1 {
  @include gel-typography('trafalgar');
  margin: $gel-spacing-unit 0;
}

input[type=text], input[type=tel], input[type=numeric] {
  @include gel-typography('double-pica');
  box-sizing: border-box;
  padding: $gel-spacing-unit;
  width: 100%;
}

button {
  @include gel-typography('pica');
  display: inline-block;
  background-color: $button-background;
  color: $button-foreground;
  border: 0;
  padding: $gel-spacing-unit;
  cursor: pointer;

  &:active, &:hover, &:focus {
    background-color: lighten($button-background, 20);
  }

  &:disabled {
    background-color: $button-background-disabled;
    color: $button-foreground-disabled;
  }
}

.large-button {
  width: 100%;

  h1 {
    @include gel-typography('double-pica');
  }
}

.toggle-button {
  background-color: $toggle-button-background;

  &.selected {
    background-color: $button-background;
  }
}
