$gel-grid-enable--box-sizing: true;

@import '~gel-sass-tools/sass-tools';
@import '~sass-mq/mq';
@import '~gel-grid/grid';
@import '~gel-typography/typography';

@import './colours.scss';
@import './images.scss';

html, body {
  background-color: $bg;
  color: $fg;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}


#app {
  height: 100%;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-background {
  flex: 1 0 auto;
}

#footer-background {
  flex-shrink: 0;
  background-color: #333;
  border-top: 1px solid #999;
  color: #ccc;

  a {
    color: #eee;
  }
}
.wrap {
  @include gel-wrap;
}

.row {
  @include gel-layout;
}

// Pages, footer are wrapped in gel-wrap (overall width) and gel-layout (a row) in App.jsx.
.page, .footer {
  @include gel-layout-item;
  @include gel-columns(1, 1);
}

p {
  @include gel-typography('body-copy');
  margin: $gel-spacing-unit 0;
}

.footer {
  p {
    @include gel-typography('pica');
  }
}

h1 {
  @include gel-typography('trafalgar');
  margin: $gel-spacing-unit 0;
}

input[type=text], input[type=tel], input[type=numeric] {
  @include gel-typography('double-pica');
  box-sizing: border-box;
  padding: $gel-spacing-unit;
  @include gel-columns(1, 1);
}

button {
  @include gel-typography('pica');
  display: inline-block;
  background-color: $button-background;
  color: $button-foreground;
  border: 0;
  padding: $gel-spacing-unit;
  cursor: pointer;

  &:disabled {
    background-color: $button-background-disabled;
    color: $button-foreground-disabled;
  }
}

.large-button {
  @include gel-columns(1, 1);

  h1 {
    @include gel-typography('double-pica');
  }
}

.toggle-button {
  background-color: $toggle-button-background;

  &.selected {
    background-color: $button-background;
  }
}

.object-list, .device-list {
  padding: 0;
  list-style: none;

  li {
    @include gel-typography('pica');

    display: inline-block;
    margin: $gel-spacing-unit;
    padding: $gel-spacing-unit;
    color: $button-foreground-disabled;
    background-color: $button-background-disabled;
  }

  li.device-list-add-button {
    padding: 0;
  }
}

.player {
  margin: $gel-spacing-unit auto;
  text-align: center;
  width: 250px;

  @media screen and (min-width: 600px) {
    width: 400px;
  }
}


.player-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.player-image {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.loading-message-log {
  @include gel-typography('brevier');
  text-align: left;
  opacity: 0.5;
  &::after {
    content: '.';
  }
}

.loading-message-log:last-child {
  opacity: 0.8;
  &::after {
    content: '\2026';
  }
}
