@import "contrib/meyer-reset";

$fg: #111;
$bg: #fff;

body {
  background-color: $bg;
  color: $fg;
  font-family: Helvetica, Arial, sans-serif;
}

#app {
  padding: 1em;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 0.5em 0;
}

p {
  line-height: 120%;
  margin: 0.5em 0;
}
