{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-props-no-spreading": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/control-has-associated-label": "warn"
  },
}
