@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~gel-typography/typography';
@import '~theme';

.share {
  display: flex;
  margin: auto;
  width: 100%;
  

  input {
    flex-grow: 1;
  }

  button {
    margin-left: $gel-spacing-unit;
    flex-grow: 0;
  }

  .copy-button {
    transition: background-color 300ms linear;

    &.success {
      background-color: $theme-color-green;
    }
  }

  @keyframes slideDown {
    from {opacity: 0; top: 0}
    to {opacity: 1; top: $gel-spacing-unit}
  }

  @keyframes slideUp {
    from {opacity: 1; top: $gel-spacing-unit}
    to {opacity: 0; top: 0}
  }
}
