@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~theme';

.choices {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  padding-right: 2 * $gel-spacing-unit;

  .button {
    margin: 0 ($gel-spacing-unit * 0.5);
  }

  .button:first-child {
    margin-left: 0;
  }
}
