.overlay {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9);
}

.popup {
    position: absolute;
    width: 40%;
    max-width: 480px;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 2px 2px 5px #333;
    background-color: white;
    padding: 12px 24px;
}

.popup h3 {
    margin-bottom: 6px;
}

.share {
    top: 10px;
}

.select-list {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 2px 2px 5px #333;
    background-color: white;
    /* padding: 12px 24px; */
}

.select-list > span {
    background-color: #aaa;
}

#video-container {
    position: absolute;
}

#dispersion-container {
    position: absolute;
    color: white;
    z-index: 1000;
    right: 12px;
    top: 12px;
    background-color: rgba(0,0,0,.7);
    width: 156px;
    padding: 8px 12px;
}

#dispersion-container > span {
    position: absolute;
    right: 12px;
}