@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~gel-typography/typography';
@import '~theme';

.rating-prompt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  box-sizing: border-box;

  background: rgba($theme-color-black, 0.8);

  h2, p {
    margin: 2 * $gel-spacing-unit auto;
    width: 100%;
    max-width: 600px;
  }
}
