@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~gel-typography/typography';
@import '~theme';

.guidance {
  display: flex;
  align-items: center; // TODO change to top if it's more than one line

  .guidance-icon {
    padding-right: (2 * $gel-spacing-unit);
    border-right: 1px solid $theme-color-grey;

    svg {
      path {
        fill: #bb1919;
      }
    }
  }

  .guidance-content {
    @include gel-typography('long-primer');
    flex-grow: 1;
    padding-left: (2 * $gel-spacing-unit);
    color: $theme-color-light-grey;
  }
}

