@font-face {
  font-family: 'bbcat-icon';
  src:  url('fonts/bbcat-icon.eot?fq6lrm');
  src:  url('fonts/bbcat-icon.eot?fq6lrm#iefix') format('embedded-opentype'),
    url('fonts/bbcat-icon.ttf?fq6lrm') format('truetype'),
    url('fonts/bbcat-icon.woff?fq6lrm') format('woff'),
    url('fonts/bbcat-icon.svg?fq6lrm#bbcat-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bbcat-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bbcat-icon-metronome:before {
  content: "\e904";
}
.bbcat-icon-replay:before {
  content: "\e905";
}
.bbcat-icon-copy:before {
  content: "\e901";
}
.bbcat-icon-paste:before {
  content: "\e902";
}
.bbcat-icon-share:before {
  content: "\e903";
}
.bbcat-icon-bbcrd:before {
  content: "\e900";
}
.bbcat-icon-check:before {
  content: "\e906";
}
.bbcat-icon-cog:before {
  content: "\e907";
}
.bbcat-icon-cross:before {
  content: "\e908";
}
.bbcat-icon-desktop:before {
  content: "\e909";
}
.bbcat-icon-down:before {
  content: "\e90a";
}
.bbcat-icon-help:before {
  content: "\e90b";
}
.bbcat-icon-left:before {
  content: "\e90c";
}
.bbcat-icon-light:before {
  content: "\e90d";
}
.bbcat-icon-loading:before {
  content: "\e90e";
}
.bbcat-icon-loudspeaker:before {
  content: "\e90f";
}
.bbcat-icon-minus:before {
  content: "\e910";
}
.bbcat-icon-mobile:before {
  content: "\e911";
}
.bbcat-icon-pause:before {
  content: "\e912";
}
.bbcat-icon-play:before {
  content: "\e913";
}
.bbcat-icon-plus:before {
  content: "\e914";
}
.bbcat-icon-radio:before {
  content: "\e915";
}
.bbcat-icon-right:before {
  content: "\e916";
}
.bbcat-icon-tablet:before {
  content: "\e917";
}
.bbcat-icon-tv:before {
  content: "\e918";
}
.bbcat-icon-up:before {
  content: "\e919";
}
.bbcat-icon-volume-low:before {
  content: "\e91a";
}
.bbcat-icon-volume-mute:before {
  content: "\e91b";
}
.bbcat-icon-volume:before {
  content: "\e91c";
}
