$icomoon-font-family: "bbcat-icon" !default;
$icomoon-font-path: "fonts" !default;

$bbcat-icon-bbcrd: "\e900";
$bbcat-icon-check: "\e906";
$bbcat-icon-cog: "\e907";
$bbcat-icon-cross: "\e908";
$bbcat-icon-desktop: "\e909";
$bbcat-icon-down: "\e90a";
$bbcat-icon-help: "\e90b";
$bbcat-icon-left: "\e90c";
$bbcat-icon-light: "\e90d";
$bbcat-icon-loading: "\e90e";
$bbcat-icon-loudspeaker: "\e90f";
$bbcat-icon-minus: "\e910";
$bbcat-icon-mobile: "\e911";
$bbcat-icon-pause: "\e912";
$bbcat-icon-play: "\e913";
$bbcat-icon-plus: "\e914";
$bbcat-icon-radio: "\e915";
$bbcat-icon-right: "\e916";
$bbcat-icon-tablet: "\e917";
$bbcat-icon-tv: "\e918";
$bbcat-icon-up: "\e919";
$bbcat-icon-volume-low: "\e91a";
$bbcat-icon-volume-mute: "\e91b";
$bbcat-icon-volume: "\e91c";

