@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~gel-typography/typography';
@import '../../theme.scss';

.controls {
  h2 {
    margin-bottom: 0;
  }
}

.controls-control {
  margin: $gel-spacing-unit 0;
}

.controls-radio-control-list, .controls-checkbox-control-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    @include gel-typography('pica-bold');
  }

  label {
    display: block;
    padding: $gel-spacing-unit/2 0;

    &:first-child, &:last-child {
      margin: 0;
    }
  }

  input {
    margin-right: $gel-spacing-unit;
  }
}


