body {
    padding: 0 5%;
}

code {
    display: block;
    text-indent: -36px;
}

#log {
    box-sizing: border-box;
    padding: 0 60px;
    margin-top: 12px;
    background-color: #e0e0e0;
}

#controls {
    margin-bottom: 12px;
}

video, table {
    position: relative;
    width: 100%;
}

#video {
    width: 100%;
    height: 300px;
}

#videoContainer, table {
    margin-bottom: 12px;
}

table ul {
    margin: 0;
    padding: 0;
    padding-left: 18px;
}

table li {
    margin: 6px 0;
}

#display, #videoContainer, #controls, h1 {
    box-sizing: border-box;
    padding: 0 6px;
}

button, .iform {
    margin-bottom: 6px;
}

.button,
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.overlay {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9);
}

.select-list {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 2px 2px 5px #333;
    background-color: white;
    /* padding: 12px 24px; */
}

.select-list > span {
    background-color: #aaa;
}

.select-list > ul > li:last-child {
    background-color: #ccc;
}

/* .video-controls {
    width: 100%;
} */

.small-left {
    float: left;
    width: 75px;
}

.fill {
    overflow: hidden;
    height: 36px;
}

.video-controls input {
    width: 100%;
    margin: 0;
    top: 7px;
    position: relative;
}

.right {
    float: right;
    position: relative;
    top: -10px;
}