# svn
.svn

# Mac OS X
.DS_STORE
.DS_Store

# build/packaging/dependencies
build/
sbuild/
node_modules/
doc/
docs/
.grunt/
*~
**/*~
package-lock.json
consul/
lib
dist

# eclipse
.metadata
org.nodeclipse.debug/bin
org.nodeclipse.ui/bin
*.DS_Store
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# Word temp files
~$*.doc*

# TypeScript compiler
.tscache
tscommand*.txt


# Ignore client-specific configuration in example
examples/*/config.js

.eslintrc.json
.vscode/

# ssh keys
config/files

target/