@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~gel-typography/typography';
@import '~theme';

.cookie-notice {
  background: $theme-color-grey;
  color: $theme-color-white;
  padding: $gel-spacing-unit;
  position: relative;

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba($theme-color-grey, 0);
    border-bottom-color: $theme-color-grey;
    border-width: 6px;
    margin-left: -6px;
  }

  h2, p {
    @include gel-typography('brevier');
    margin: $gel-spacing-unit 0;
  }
}
