@import '~sass-mq/mq';
@import '~gel-sass-tools/sass-tools';
@import '~theme';

.page-overflow {
  background-color: $theme-color-white;
  color: $theme-color-black;
  border-radius: $gel-spacing-unit;
  padding: $gel-spacing-unit;
  margin-top: 2*$gel-spacing-unit;
  margin-bottom: 2*$gel-spacing-unit;
}
