@import '~gel-sass-tools/sass-tools';

.player-image {
  position: relative;
  // TODO do not add negative margin on screens larger than page min width
  margin-left: -$gel-spacing-unit; // undo padding on .page-contents
  margin-right: -$gel-spacing-unit;
  text-align: center;
}

.player-image-image {
  width: 100%;
  height: auto; // TODO relies on square ratio set by width and height attributes.
  vertical-align: top;
}

.player-image-placeholder {
  display: block;
  background: #c30;
  width: 100%;
  padding-bottom: 100%;
}
