@font-face {
  /* Reith sans regular */
  font-family: 'ReithSans';
  src: url('https://gel.files.bbci.co.uk/r2.302/BBCReithSans_W_Rg.woff2') format('woff2'), url('https://gel.files.bbci.co.uk/r2.302/BBCReithSans_W_Rg.woff') format('woff');
  font-display: swap;
}

@font-face {
  /* Reith sans bold */
  font-family: 'ReithSans';
  font-weight: bold;
  src: url('https://gel.files.bbci.co.uk/r2.302/BBCReithSans_W_Bd.woff2') format('woff2'), url('https://gel.files.bbci.co.uk/r2.302/BBCReithSans_W_Bd.woff') format('woff');
  font-display: swap;
}

// @font-face {
//   /* Reith serif regular */
//   font-family: 'ReithSerif';
//   src: url('https://gel.files.bbci.co.uk/r2.302/BBCReithSerif_W_Rg.woff2') format('woff2'), url('https://gel.files.bbci.co.uk/r2.302/BBCReithSerif_W_Rg.woff') format('woff');
//   font-display: swap;
// }
// 
// @font-face {
//   /* Reith serif regular */
//   font-family: 'ReithSerif';
//   font-weight: bold;
//   src: url('https://gel.files.bbci.co.uk/r2.302/BBCReithSerif_W_Bd.woff2') format('woff2'), url('https://gel.files.bbci.co.uk/r2.302/BBCReithSerif_W_Bd.woff') format('woff');
//   font-display: swap;
// }
